.sketchtoolhome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 16px; /*부모영역 16px*/
}
  
.top-bar {
    position: fixed;
    height: calc(6vh); /*sketchtoolhome-container 에서 6%*/
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3d405b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    z-index: 2; /*언제나 다른 요소위에 나타나도록 우선순위 높게. 컨버스 컨테이너에 가려지지 않게*/
}

.top-bar .top-home {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left : 1rem;
    vertical-align: middle;
} /* 탑바 하위 개체(홈) */

.top-load, .top-save {
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1rem;
}

.side-bar {
    position: fixed;
    background-color: #3d405b;
    z-index: 2; /*top-bar와 마찬가지*/
    gap: 1rem;
}

.side-text, .side-elements, .side-pen, .side-handdler, .side-panning, .side-zoom-out, .side-zoom-in{
    position: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    gap: 1rem;
} /* 사이드바 하위 개체(텍스트,지우개,펜,요소,핸들러) */

.canvas-window {
    z-index: 1; 
    background-color: #f4f1de;
}

/* 변경한 CSS Redo-Button이 추가되면서 바뀜 web에서는 위치와 mobile에서 위치가 다름 */

.control-button {
    z-index: 2;
    border: none;
    background: none;
    cursor: pointer;
}

.placeholder {
    font-family: "cookierun";
    font-size: 1.5rem;
    position: absolute;
}

.canvas-container > canvas{
    /* position: absolute; */
    border: 1px solid #ddd;
    cursor: grab; 
    transition: transform 0.2s ease; 
    border: 5px solid black;
    display: flex;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.inactive-canvas {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .side-bar {
        position: fixed;
        bottom: 0px;
        left: 0px;
        height: calc(7vh);
        width: 100%;
        align-items: center;/* 수직 중앙 정렬 */
        justify-content: space-between;/* 수평 중앙 정렬 */
        display: flex;
    }

    .side-function {
        display: flex;
        flex-direction: row;
        gap: 0em;
    }

    .side-apply {
        margin-right: 1rem;
        vertical-align: middle;
        background: none;
        border: none;
    }

    .canvas-window {
        position: relative;
        height: calc(87vh);
        width: calc(100vw);
        top: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .canvas-container > canvas {
        border: 1px solid #ddd;
        cursor: grab; 
        transition: transform 0.2s ease; 
        border: 5px solid black;
        transform: translate(0%, -10%);
    }

    .control-button {
        position: fixed;
        bottom: 9%;
        right: 1%;
    }

    .undo-button, .redo-button{
        z-index: 2;
        border: none;
        background: none;
        cursor: pointer;        
    }

} /* 모바일 및 타블렛 대응 */

@media only screen and (min-width: 1001px) {
    .side-bar {
        position: fixed;
        top: 6%;
        left: 0px;
        width: 7%;
        height: 94%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .side-function {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .side-apply {
        border: none;
        background: none;
        margin-bottom: 1rem;
    }

    .canvas-window {
        position: relative;
        height: calc(94vh);
        width: calc(93vw);
        top: 6vh;
        left: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .canvas-container > canvas {
        border: 1px solid #ddd;
        cursor: grab; 
        transition: transform 0.2s ease; 
        border: 5px solid black;
    }

    .control-button {
        position: fixed;
        bottom: 1%;
        right: 1%;
        margin-right: 1rem;
    }
    
    .undo-button,.redo-button {
        z-index: 2;
        border: none;
        background: none;
        cursor: pointer;
    }

} /* 웹 화면 대응 */

@media only screen and (max-width: 500px) {
    .side-function {
        width: 250px;
        overflow-x: auto;
    }
} /* 모바일 사이드바 스크롤 환경*/